#root{
  display: flex;
  justify-content: center;
}
.main{
  width: 750px;
  margin: 0 auto;
  max-width: 100%;
  background-color: #275d86;
  padding: 15px 15px 50px 15px;
}
.header{
  padding: 0 20px;
  display: flex;
  height: 140px;
  align-items: center;
  background-color: #e9eef3;
  border-radius: 15px 15px 0 0;
}
.filterPeoples{
  line-height: 45px;
  background-color: transparent;
  width: 450px;
  max-width: 70%;
  border:none;
  outline: none;
  font-size: 20px;
}
.sorting{
  width: 200px;
  max-width: 30%;
  border: none;
  text-align: center;
}

.listItem{
  height: 120px;
  display: flex;
}
.listItem:last-child{
  border-radius: 0 0 15px 15px;
}
.listItem:nth-child(2n + 1){
  background-color: #ffffff;
}
.listItem:nth-child(2n){
  background-color: #f4f6f9;
}
.listItem:nth-child(2n) {
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url({./img/medals/1st.svg});
}
.listItem:nth-child(even) .listItem__firstLetter{
  background-color: green;
}
.listItem:nth-child(odd) .listItem__firstLetter{
  background-color: orange;
}
.listItem:nth-child(3n + 2) .listItem__firstLetter{
  background-color: grey;
}
.listItem:nth-child(3n + 1) .listItem__firstLetter{
  background-color: purple;
}
.listItem__info{
  display: flex;
  flex-wrap: wrap;
  height: 55px;
  width: calc(100% - 120px);
  padding: 0 20px 0 0;
  position: relative;
  align-self: center;
}
.listItem__fullName{
  width: 50%;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.listItem__pageViews{
  width: 50%;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}
.listItem__projects{
  color: grey;
  font-size: 16px;
}
.listItem__itemNumber{
  width: 50px;
  box-sizing: border-box;
  padding-left: 10px;
  line-height: 120px;
}
.listItem__firstLetter{
  width: 70px;
  align-self: center;
  margin-right: 15px;
  border-radius: 50%;
  box-shadow: 0px 0px 21px -2px #000000;
  background-color: red;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  line-height: 70px;
}
.footer{
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0;
}
.medal{
  width: 35px;
  height: 35px;
  vertical-align:middle;
  position: absolute;
  left: 50%;
  top: 15%;
}
.showingPages{
  color: #ffffff;
  font-size: 18px;
  padding: 0 25px;
}
.fieldName{
  font-size: 16px;
  font-weight: bold;
  padding: 4px;
}
.buttonPrev,.buttonNext{
  width: 40px;
  outline: none;
  border-radius: 50%;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
}
.pageViewsField-descending,.nameField-descending,.pageViewsField-ascending,.nameField-ascending{
  position: relative;
  color: transparent;
  background-color: transparent;
  width: 20px;
  height: 20px;
}
.nameField-descending:after, .pageViewsField-descending:after{
  position: absolute;
  top: -2px;
  left: -20px;
  content: '\2193';
  color: grey;
  font-size: 20px;
}
.pageViewsField-ascending::after,.nameField-ascending::after{
  position: absolute;
  top: -2px;
  left: 20px;
  content: '\2191';
  color: grey;
  font-size: 20px;
}
.pageViewsField-ascending:checked::after,
.nameField-ascending:checked::after,
.pageViewsField-descending:checked::after,
.nameField-descending:checked::after{
  color: red;
}
